<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'pizza/style.css' %}">
    
    <title>
        {% block title %}Remco's Pizza house
        {% endblock title%}
    </title>
</head>

<body>
    <div class="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="{% url 'pizza:index' %}">Home</a></li>
            <li><a href="{% url 'pizza:pizzas' %}">Pizzas</a></li>
        </ul>
        {% endblock sidebar %}
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>