{% extends "pizza/pizzas.html" %} 
  
{% block content %}
  <H1>Pizza: {{ pizza }}</H1>
  <p>Toppings:</p>
  <ul>
    {% for topping in toppings %}
      <li>
        <p>{{ topping.text|linebreaks }}</p>
      </li>
    {% empty %}
       <li>There are no entries for this topic yet.</li>
    {% endfor %}
  </ul>
{% endblock content %}