{% extends "pizza/base.html" %} 

{% block content %}
<H3>These are our Pizzas</H3>
<ul>
    {% for pizza in pizzas %}
      <li>
        <a href="{% url 'pizza:pizza' pizza.id %}">{{ pizza }}</a>
      </li>
    {% empty %}
      <li>No topics have been added yet.</li>
    {% endfor %}
  </ul>
{% endblock content %}
